global:
  scrape_interval: "{{ prometheus.scrape_interval }}"

alerting:
  alertmanagers:
    - static_configs:
        - targets:
          - "alertmanager:{{ alertmanager.port }}"

scrape_configs:
{% for item in prometheus.scrape_configs %}
  - job_name: "{{ item.job_name }}"
    static_configs:
      - targets: ["{{ item.targets }}"]
{% endfor %}
